/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 100px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}
header {
  grid-area: header;
  background-color: #ef5552;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px 0 20px;
}
.sidebar {
  grid-area: sidebar;
  background-color: black;
}
main {
  grid-area: content;
  padding: 20px;
}
footer {
  grid-area: footer;
  background-color: black;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul > li:not(:first-child) {
  padding-left: 20px;
}
nav ul > li > a {
  color: white;
}
header nav {
  grid-column: -1;
}
.movies-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  column-gap: 20px;
  row-gap: 20px;
}
.movies-cards img {
  width: 100%;
}
section {
  margin-top: 20px;
}
article {
  margin-top: 20px;
}
.logo {
  color: white;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 50px 200px auto 100px;
  grid-template-areas:
    "header header header"
    "sidebar content sidebar2"
    "ads content sidebar2"
    "footer footer footer";
}
header {
  display: grid;
  grid-area: header;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding: 0 20px 0 20px;
}
header nav {
  grid-column: -1;
}
.logo {
  color: wheat;
  padding-left: 20px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li:not(:first-child) {
  padding-left: 10px;
}
nav ul li a {
  color: wheat;
}
nav ul li a:hover {
  color: aqua;
}
footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: wheat;
}
main {
  grid-area: content;
  background: linear-gradient(45deg, #9fd3f7, #ffe7f8);
}
.ads {
  grid-area: ads;
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
  color: black;
}
.sidebar {
  grid-area: sidebar;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  color: black;
}
.sidebar2 {
  grid-area: sidebar2;
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  color: black;
}
.movies-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}
.movies-cards img {
  width: 100%;
  padding: 15px;
  border-radius: 35px;
}
main > h1 {
  padding-top: 10px;
  text-align: center;
}
main h2 {
  padding: 10px;
  text-align: center;
}
